body {
  background-color: #f3f3f3;
}

.user-list-card {
  min-height: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.user-list-card .table thead th {
  background-color: #0d1931;
  color: white;
  border-bottom: none;
}

.user-list-card .table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.user-list-card .table tbody tr:last-child {
  border-bottom: none;
}

.search-input-group .form-control {
  border-radius: 0.25rem;
}

.search-input-group .input-group-text {
  background-color: #fff;
  border-right: none;
  border-radius: 0.25rem 0 0 0.25rem;
}
